name: Build and Test (Preprod)

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build (Preprod)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: registry.raclette.ovh
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build (Preprod)
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ format('{0}-{1}', 'registry.raclette.ovh/pp-countdownly:run', github.run_number) }}, registry.raclette.ovh/pp-countdownly:latest

  sonarqube:
    name: Quality-Gate
    runs-on: ubuntu-latest
    permissions: read-all
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  deploy_pre_production:
    name: "Deploy pre-production to server"
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          script_stop: true
          script: cd /docker/docker-compose/pp-countdownly && docker compose pull && docker compose down -v && docker compose up -d
