name: Build and Push on PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build_and_push:
    name: Build and Push (PR)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: registry.raclette.ovh
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push (PR)
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            registry.raclette.ovh/pr-countdownly:pr-${{ github.event.pull_request.number }}-${{ github.sha }}
            registry.raclette.ovh/pr-countdownly:pr-${{ github.event.pull_request.number }}-latest
